In [1]:
#python output .we use the print() function to output data to the standard output devices
#various wayas of printing

In [2]:
print(1)

1

In [3]:
print("Shiv ji , Radhe Radhe")

Shiv ji , Radhe Radhe

In [4]:
print("JAY JAGANNATH 13@!$%")

JAY JAGANNATH 13@!$%

In [5]:
a = 21
print(a)

21

In [9]:
Shivaji = 10
print(Shivaji)

10

In [10]:
print("Shivji")

Shivji

In [11]:
a = 11 
b = 22 
c = 33 
d = 44 
e = 55
print(a,b,c,d,e)

11 22 33 44 55

In [12]:
a = 7
print(a)
type(a)

7

int

In [13]:
b = '1'
print(b)
type(b)

1

str

In [14]:
# print function in Python 3
a = 12
b = 13
c = a+b
print(c)

25

In [15]:
a = 15
b = 25
print(a+b)

40

In [16]:
print(15+25)

40

In [17]:
a = 25
b = 26
c = 27
d = 28
print(a,b,c,d)

25 26 27 28

In [19]:
a = 25
b = 26
c = 27
d = 28
print(a,b,c,d,sep =":")

25:26:27:28

In [22]:
b = 26
print("The value of b :",b)

The value of b : 26

In [1]:
first_name = "Shiv ji"
last_name = "parbati mate"
print("Name", last_name , first_name)

Name parbati mate Shiv ji

In [2]:
print("My first nsme is:",first_name,"and last name is:",last_name)

My first nsme is: Shiv ji and last name is: parbati mate

In [3]:
print("My first name is: {} and last name is:{}".format(first_name,last_name))

My first name is: Shiv ji and last name is:parbati mate

In [4]:
#we can use keyword arguments to format the string
print("My first name is:{first} and last name is : {first}".format(last = last_name,first = last_name))

My first name is:parbati mate and last name is : parbati mate

In [7]:
print("Hello {name} {greeting} {name}". format(name = "Shivji",greeting = "Hari Ommm"))

Hello Shivji Hari Ommm Shivji

In [6]:
#we can combine positional arguments with keyword arguments
print('The story of {}, {}, and {other}'.format('Any','One',other = 'Help you'))

The story of Any, One, and Help you

In [4]:
num = 17
name = "Ram"
print('My number is: {one} and my name is : {seven}'.format(one = num,seven = name))
print('My number is: {} and my name is : {}'.format(num,name))
print("My number is:" , "and my name is:",name)

My number is: 17 and my name is : Ram
My number is: 17 and my name is : Ram
My number is: and my name is: Ram